<a href="https://colab.research.google.com/github/Rashmitakhatiwada/vctest/blob/master/Data_Science_Project(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2.    Water Quality prediction: httos://www.kaggle.com/datasets/adityakadiwal/water-potabilityUse any 2 classification algorithms and try to predict the quality of water. The project must contain all the classification evaluation metrics we discussed with an explanation of what each metric means. Please do necessary preprocessing if needed.

In [1]:
!git clone https://github.com/Rashmitakhatiwada/vctest.git

Cloning into 'vctest'...
remote: Enumerating objects: 19, done.
remote: Counting objects: 100% (3/3), done.
remote: Compressing objects: 100% (3/3), done.
remote: Total 19 (delta 0), reused 0 (delta 0), pack-reused 16
Unpacking objects: 100% (19/19), 139.52 KiB | 1.60 MiB/s, done.

In [ ]:
import pandas as pd

# Loading the data sets.

In [ ]:
df=pd.read_csv('/content/Water Quality.zip')

# Data Analysis.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ph               2785 non-null   float64
 1   Hardness         3276 non-null   float64
 2   Solids           3276 non-null   float64
 3   Chloramines      3276 non-null   float64
 4   Sulfate          2495 non-null   float64
 5   Conductivity     3276 non-null   float64
 6   Organic_carbon   3276 non-null   float64
 7   Trihalomethanes  3114 non-null   float64
 8   Turbidity        3276 non-null   float64
 9   Potability       3276 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 256.1 KB

In [ ]:
df.head()

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0

In [ ]:
df

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,NaN,204.890455,20791.318981,7.300212,368.516441,564.308654,10.379783,86.990970,2.963135,0
1,3.716080,129.422921,18630.057858,6.635246,NaN,592.885359,15.180013,56.329076,4.500656,0
2,8.099124,224.236259,19909.541732,9.275884,NaN,418.606213,16.868637,66.420093,3.055934,0
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
...,...,...,...,...,...,...,...,...,...,...
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
3272,7.808856,193.553212,17329.802160,8.061362,NaN,392.449580,19.903225,NaN,2.798243,1
3273,9.419510,175.762646,33155.578218,7.350233,NaN,432.044783,11.039070,69.845400,3.298875,1
3274,5.126763,230.603758,11983.869376,6.303357,NaN,402.883113,11.168946,77.488213,4.708658,1
3275,7.874671,195.102299,17404.177061,7.509306,NaN,327.459760,16.140368,78.698446,2.309149,1

In [ ]:
df.isna().sum()

ph                 491
Hardness             0
Solids               0
Chloramines          0
Sulfate            781
Conductivity         0
Organic_carbon       0
Trihalomethanes    162
Turbidity            0
Potability           0
dtype: int64

# Drop rows with missing values.

In [ ]:
df.dropna(inplace= True)

In [ ]:
df

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771,0
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075,0
5,5.584087,188.313324,28748.687739,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708,0
6,10.223862,248.071735,28749.716544,7.513408,393.663396,283.651634,13.789695,84.603556,2.672989,0
7,8.635849,203.361523,13672.091764,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425,0
...,...,...,...,...,...,...,...,...,...,...
3267,8.989900,215.047358,15921.412018,6.297312,312.931022,390.410231,9.899115,55.069304,4.613843,1
3268,6.702547,207.321086,17246.920347,7.708117,304.510230,329.266002,16.217303,28.878601,3.442983,1
3269,11.491011,94.812545,37188.826022,9.263166,258.930600,439.893618,16.172755,41.558501,4.369264,1
3270,6.069616,186.659040,26138.780191,7.747547,345.700257,415.886955,12.067620,60.419921,3.669712,1
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1

# splitting data into X and Y

In [ ]:
X=df.iloc[:, :-1] #Independent variable
y=df['Potability'] # dependent variable

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity
3,8.316766,214.373394,22018.417441,8.059332,356.886136,363.266516,18.436524,100.341674,4.628771
4,9.092223,181.101509,17978.986339,6.546600,310.135738,398.410813,11.558279,31.997993,4.075075
5,5.584087,188.313324,28748.687739,7.544869,326.678363,280.467916,8.399735,54.917862,2.559708
6,10.223862,248.071735,28749.716544,7.513408,393.663396,283.651634,13.789695,84.603556,2.672989
7,8.635849,203.361523,13672.091764,4.563009,303.309771,474.607645,12.363817,62.798309,4.401425
...,...,...,...,...,...,...,...,...,...
3267,8.989900,215.047358,15921.412018,6.297312,312.931022,390.410231,9.899115,55.069304,4.613843
3268,6.702547,207.321086,17246.920347,7.708117,304.510230,329.266002,16.217303,28.878601,3.442983
3269,11.491011,94.812545,37188.826022,9.263166,258.930600,439.893618,16.172755,41.558501,4.369264
3270,6.069616,186.659040,26138.780191,7.747547,345.700257,415.886955,12.067620,60.419921,3.669712
3271,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821

In [ ]:
X,y

(             ph    Hardness        Solids  Chloramines     Sulfate  \
 3      8.316766  214.373394  22018.417441     8.059332  356.886136
 4      9.092223  181.101509  17978.986339     6.546600  310.135738
 5      5.584087  188.313324  28748.687739     7.544869  326.678363
 6     10.223862  248.071735  28749.716544     7.513408  393.663396
 7      8.635849  203.361523  13672.091764     4.563009  303.309771
 ...         ...         ...           ...          ...         ...
 3267   8.989900  215.047358  15921.412018     6.297312  312.931022
 3268   6.702547  207.321086  17246.920347     7.708117  304.510230
 3269  11.491011   94.812545  37188.826022     9.263166  258.930600
 3270   6.069616  186.659040  26138.780191     7.747547  345.700257
 3271   4.668102  193.681735  47580.991603     7.166639  359.948574

       Conductivity  Organic_carbon  Trihalomethanes  Turbidity
 3       363.266516       18.436524       100.341674   4.628771
 4       398.410813       11.558279        31.997993   4.075075
 5       280.467916        8.399735        54.917862   2.559708
 6       283.651634       13.789695        84.603556   2.672989
 7       474.607645       12.363817        62.798309   4.401425
 ...            ...             ...              ...        ...
 3267    390.410231        9.899115        55.069304   4.613843
 3268    329.266002       16.217303        28.878601   3.442983
 3269    439.893618       16.172755        41.558501   4.369264
 3270    415.886955       12.067620        60.419921   3.669712
 3271    526.424171       13.894419        66.687695   4.435821

 [2011 rows x 9 columns],
 3       0
 4       0
 5       0
 6       0
 7       0
        ..
 3267    1
 3268    1
 3269    1
 3270    1
 3271    1
 Name: Potability, Length: 2011, dtype: int64)

# Logistic Regression

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state = 40)

#Fit the model to the training data and  Make predictions on the test set

In [ ]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=5000)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import (accuracy_score,
                             f1_score,
                             precision_score,
                             recall_score,
                             classification_report,
                             confusion_matrix)

# Evaluation metrics and Classification report

In [ ]:
accuracy = accuracy_score(y_true = y_test, y_pred = y_pred)
print(f"Accuracy: {accuracy}")

f1_score = f1_score(y_true = y_test, y_pred = y_pred)
print(f"f1_score: {f1_score}")

precision = precision_score(y_true = y_test, y_pred = y_pred)
print(f"precision_score: {precision}")

recall = recall_score(y_true = y_test, y_pred = y_pred, average = 'macro')
print(f"recall_score: {recall}")

Accuracy: 0.6043046357615894
f1_score: 0.047808764940239036
precision_score: 1.0
recall_score: 0.5122448979591837

# Random Forest Classifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier

#Fit the model to the training data and  Make predictions on the test set

In [ ]:
from sklearn.linear_model import LogisticRegression
model = RandomForestClassifier()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import (accuracy_score,
                             f1_score,
                             precision_score,
                             recall_score,
                             classification_report,
                             confusion_matrix)

# Evaluation metrics and Classification report

In [ ]:
accuracy = accuracy_score(y_true = y_test, y_pred = y_pred)
print(f"Accuracy: {accuracy}")

f1_score = f1_score(y_true = y_test, y_pred = y_pred)
print(f"f1_score: {f1_score}")

precision = precision_score(y_true = y_test, y_pred = y_pred)
print(f"precision_score: {precision}")

recall = recall_score(y_true = y_test, y_pred = y_pred, average = 'macro')
print(f"recall_score: {recall}")

Accuracy: 0.6804635761589404
f1_score: 0.5138539042821159
precision_score: 0.6710526315789473
recall_score: 0.6385253822977659